/* full page background, obviously */
body
{
	background-color: #1a1d22;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

/* Navbar styling, this is the background color that goes across the header */
#navbar
{
	background-color: #1f212a;
	z-index: 1;
	height: 57px;
}

/* This is the logo image and positioning */
.logo
{
	position: relative;
	top: 12px;
}

/* This is the redirect links in the header */
.navbarContent
{
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}

/* This makes it so the links display side by side */
.navbarContent li
{
	display: inline-block;
}

/* Hover state for the links */
.navbarContent li:hover
{
	background-color: rgba(255,255,255,0.03);
	border-bottom: 2px solid #f9d22a;
	
}

/* Creates and separates the links in the navbar using a block */
.navbarContent li a,visited
{
	color: #ccc;
	display: block;
	padding: 15px;
}

/* Hover state for the dropdown menu */
.navbarContent li a:hover
{
	
}

/* Container that holds the current image, this can be changed and resized here */
.container
{
	width: 100%;
	height: 500px;
	background-image: url("http://www.disturbed1.com/sites/g/files/g2000002776/f/201506/flatbush-facebook-opengraph-d2c_0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 4px solid #1a1d22;
}

/* This container will hold whatever we want below the main container */
.container2
{
	color: white;
	width: 100%;
	height: 400px;
	background-color: #1a1d22;
	position: relative;
}

/* Footer position and styling */
.footer
{
	position: relative;
	color: white;
}
